<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Pinóquio (2022)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/hVPMjz4GXxxS4dMcaxTComi3KzR.jpg">
    </div>

    <div class="categorias">
      <ion-chip>FANTASIA</ion-chip>
      <ion-chip>AVENTURA</ion-chip>
      <ion-chip>FAMÍLIA</ion-chip>
    </div>

    <div class="sinopse">
      <h3>SINOPSE</h3>
      <ion-label>
        O conto do boneco de madeira em uma arrepiante aventura para virar um menino de verdade, recontado.
      </ion-label>
    </div>

  </ion-card>
</ion-content>
