<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">O Carinha (2022)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nfixtLlkKg6D8aNTldBUWmvw20N.jpg">
    </div>

    <div class="categorias">
      <ion-chip>ANIMAÇÃO</ion-chip>
      <ion-chip>FAMÍLIA</ion-chip>
      <ion-chip>COMÉDIA</ion-chip>
      <ion-chip>FICÇÃO CIENTÍFICA</ion-chip>
    </div>

    <div class="sinopse">
      <h3>SINOPSE</h3>
      <ion-label>
        Groot descobre uma civilização em miniatura que acredita que o bebê árvore aparentemente gigantesco seja o herói pelo qual esperavam.
      </ion-label>
    </div>

  </ion-card>
</ion-content>
