<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Joker (2019)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/xLxgVxFWvb9hhUyCDDXxRPPnFck.jpg">
    </div>

    <div class="categorias">
      <ion-chip>CRIME</ion-chip>
      <ion-chip>THRILLER</ion-chip>
      <ion-chip>DRAMA</ion-chip>
    </div>

    <div class="sinopse">
      <h3>SINOPSE</h3>
      <ion-label>
        Um comediante falido enlouquece e se torna um assassino psicopata.
      </ion-label>
    </div>

  </ion-card>
</ion-content>
