<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Minions 2: A Origem de Gru (2022)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iTP3mMw0AoqmScYzDoMmYeKxYe.jpg">
    </div>

    <div class="categorias">
      <ion-chip>ANIMAÇÃO</ion-chip>
      <ion-chip>AVENTURA</ion-chip>
      <ion-chip>COMÉDIA</ion-chip>
      <ion-chip>FANTASIA</ion-chip>
    </div>

    <div class="sinopse">
      <h3>SINOPSE</h3>
      <ion-label>
        A continuação das aventuras dos Minions, sempre em busca de um líder tirânico. Dessa vez, eles ajudam um Gru ainda criança, descobrindo como ser vilão.
      </ion-label>
    </div>

  </ion-card>
</ion-content>
