<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Sonic 2 - O Filme (2022)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/f4SvCKIUrC2cDR7Xo4k1kaGAqQ2.jpg">
    </div>

    <div class="categorias">
      <ion-chip>AÇÃO</ion-chip>
      <ion-chip>AVENTURA</ion-chip>
      <ion-chip>FAMÍLIA</ion-chip>
      <ion-chip>COMÉDIA</ion-chip>
    </div>

    <div class="sinopse">
      <h3>SINOPSE</h3>
      <ion-label>
        Depois de se estabelecer em Green Hills, Sonic está pronto para mais liberdade e deixar sua marca como um herói,
        e Tom e Maddie concordam em deixá-lo em casa enquanto vão de férias. Mas, assim que eles se foram, Dr. Robotnik volta,
        desta vez com um novo parceiro, Knuckles, em busca de uma esmeralda que tem o poder de construir e destruir civilizações.
        Sonic se une a um novo companheiro, Tails, e juntos eles embarcam em uma jornada para encontrar a esmeralda antes que ela caia nas mãos erradas.
      </ion-label>
    </div>

  </ion-card>
</ion-content>
