<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Morbius (2022)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="image">
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg">
    </div>

    <div class="categorias">
      <ion-chip>AÇÃO</ion-chip>
      <ion-chip>FICÇÃO CIENTÍFICA</ion-chip>
      <ion-chip>FANTASIA</ion-chip>
    </div>

    <div class="sinopse">
      <h3>SINOPSE</h3>
      <ion-label>
        Gravemente doente com um raro distúrbio sanguíneo e determinado a salvar outros sofrendo o mesmo destino, o Dr. Morbius tenta uma aposta desesperada.
        O que primeiramente parece ser um sucesso radical, libera uma escuridão dentro dele e transforma esse médico em um caçador.
      </ion-label>
    </div>

  </ion-card>
</ion-content>
