<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="warning">
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/joker">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg">
      </ion-thumbnail>
      <h1>Joker (2019)</h1>
    </ion-item>

    <ion-item routerLink="/morbius">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/6JjfSchsU6daXk2AKX8EEBjO3Fm.jpg">
      </ion-thumbnail>
      <h1>Morbius (2022)</h1>
    </ion-item>

    <ion-item routerLink="/pinoquio">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/hVPMjz4GXxxS4dMcaxTComi3KzR.jpg">
      </ion-thumbnail>
      <h1>Pinóquio (2022)</h1>
    </ion-item>

    <ion-item routerLink="/minions2">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/iTP3mMw0AoqmScYzDoMmYeKxYe.jpg">
      </ion-thumbnail>
      <h1>Minions 2: A Origem de Gru (2022)</h1>
    </ion-item>

    <ion-item routerLink="/sonic2">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/f4SvCKIUrC2cDR7Xo4k1kaGAqQ2.jpg">
      </ion-thumbnail>
      <h1>Sonic 2 - O Filme (2022)</h1>
    </ion-item>

    <ion-item routerLink="/o-carinha">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/nfixtLlkKg6D8aNTldBUWmvw20N.jpg">
      </ion-thumbnail>
      <h1>O Carinha (2022)</h1>
    </ion-item>
  </ion-list>
</ion-content>
